{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create_Listing' %}" method="POST">
        {% csrf_token %}
        <label>Product Title : </label>
        <input type="text" name="title"><br>

        <label>Descripton : </label>
        <input type="text" name="desc"><br>

        <label>Image URL : </label>
        <input type="text" name="Img_URL"><br>

        <label>Price : </label>
        <input type="number" name="Product_Price" min="0"><br>

        <label for="">Category</label>
        <select name="Category" id="">
            {% for a in all_categories %}
            <option value="{{a}}">{{a}}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Create New Listing">



    </form>
{% endblock %}